.songs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.songs li {
    margin-bottom: 1rem;
}

.songs a {
    color: lightgray;
    text-decoration: none;
}
.songs a.active {
    color: white;
    font-weight: bold;
    
}